alabaster==0.7.13
asgiref==3.6.0
attrs==23.1.0
Automat==22.10.0
Babel==2.12.1
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
botocore==1.29.137
build==0.10.0
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
check-manifest==0.49
click==8.1.3
colorama==0.4.6
constantly==15.1.0
coverage==7.2.5
cryptography==40.0.2
cssselect==1.2.0
distlib==0.3.6
Django @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_eeor5o9jj8/croots/recipe/django_1661292534510/work
django-bootstrap4==23.1
docutils==0.18.1
filelock==3.12.0
hyperlink==21.0.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
jaraco.classes==3.2.3
Jinja2==3.1.2
jmespath==1.0.1
keyring==23.13.1
loguru==0.7.0
lxml==4.9.2
Markdown==3.3.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
martor==1.6.26
mdurl==0.1.2
minio==7.1.14
mistune==2.0.5
more-itertools==9.1.0
mypy-extensions==1.0.0
packaging==23.1
parsel==1.8.1
pathspec==0.11.1
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==3.5.1
pluggy==1.0.0
Protego==0.2.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
Pygments==2.15.1
pyOpenSSL==23.1.1
pyproject_api==1.5.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
pywin32==306
pywin32-ctypes==0.2.0
queuelib==1.6.2
readme-renderer==37.3
requests==2.30.0
requests-file==1.5.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.3.5
ruff==0.0.265
Scrapy==2.9.0
scrapy-djangoitem==1.1.1
scrapyd==1.4.2
scrapyd-client==1.2.3
service-identity==21.1.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==6.2.1
sphinx-rtd-theme==1.2.0
sphinx_mdinclude==0.5.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
tldextract==3.4.1
tomli==2.0.1
tox==4.5.1
twine==4.0.2
Twisted==22.10.0
twisted-iocpsupport==1.0.3
typing_extensions==4.5.0
tzdata==2023.3
uberegg==0.1.1
urllib3==1.26.15
virtualenv==20.23.0
w3lib==2.1.1
webencodings==0.5.1
win32-setctime==1.1.0
zipp==3.15.0
zope.interface==6.0

django~=4.0
setuptools~=67.7.2